<!DOCTYPE html>
<html lang="en">
<head>
    <title>basic</title>
    {% include '../include_CSS_JS.html' %}
</head>
<body>
{% include '../include_head.html' %}
<div class="container">
    <div class="page-header"><h1> Aggregation <a href="count.html" class="btn btn-primary btn-large"
                                                 style="margin-left: 50px;">Begin!</a></h1></div>
    <div class="row" style="margin-bottom:30px">
        <div class="panel-body col-md-8"><p>
            <p>Aggregation is one of those capabilities that really make you appreciate the power of relational database
                systems. It allows you to move beyond merely persisting your data, into the realm of asking truly
                interesting questions that can be used to inform decision making. This category covers aggregation at
                length, making use of standard grouping as well as more recent window functions.</p>
            <p>If you struggle with these questions, I strongly recommend <a
                    href="http://shop.oreilly.com/product/9780596007270.do">Learning SQL</a>, by Alan Beaulieu and <a
                    href="http://shop.oreilly.com/product/9780596009762.do">SQL Cookbook</a> by Anthony Molinaro. In
                fact, get the latter anyway - it'll take you beyond anything you find on this site, and on multiple
                different database systems to boot.</p> </p> </div>
    </div>
    <div class="row" style="margin-bottom:30px">
        <div class="col-md-8">
            <ul class="topiclisting">
                {% if aggregatesquestion %}
                    {% for x in aggregatesquestion %}
                        <li><span>
                            <a href='{% url 'sqltrainapp:basicall' x.ques_id %}'>{{ x.ques_title }}</a></span>
                        </li>
                    {% endfor %}
                {% else %}
                    <li><span><P>Couldn't find the question list</P></span>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
</body>
</html>