<!DOCTYPE html>
<html lang="en">
<head>
    <title>basic</title>
    {% include '../include_CSS_JS.html' %}
</head>
<body>
{% include '../include_head.html' %}
<div class="container">
    <div class="page-header"><h1> Simple SQL Queries <a href="selectall.html" class="btn btn-primary btn-large"
                                                        style="margin-left: 50px;">Begin!</a></h1></div>
    <div class="row" style="margin-bottom:30px">
        <div class="panel-body col-md-8"><p>
            <p>This category deals with the basics of SQL. It covers select and where clauses, case expressions, unions,
                and a few other odds and ends. If you're already educated in SQL you will probably find these exercises
                fairly easy. If not, you should find them a good point to start learning for the more difficult
                categories ahead!</p>
            <p>If you struggle with these questions, I strongly recommend <a
                    href="http://shop.oreilly.com/product/9780596007270.do">Learning SQL</a>, by Alan Beaulieu, as a
                concise and well-written book on the subject. If you're interested in the fundamentals of database
                systems (as opposed to just how to use them), you should also investigate An Introduction to Database
                Systems by C.J. Date.</p> </p> </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <ul>
                <li><span>
                    <a href='{% url 'sqltrainapp:basicall' 1%}'>Retrieve everything from a table</a></span>
                </li>
                <li><span>
                    <a href='{% url 'sqltrainapp:basicall' 2%}'>Retrieve specific columns from a table</a></span>
                </li>
                <li><span><a href='{% url 'sqltrainapp:basicall' 3%}'>Control which rows are retrieved</a></span>
                </li>
                <li><span><a href='{% url 'sqltrainapp:basicall' 4%}'>Control which rows are retrieved - part 2</a></span>
                </li>
                <li><span><a href='{% url 'sqltrainapp:basicall' 5%}'>Basic string searches</a></span>
                </li>
                <li><span><a href='{% url 'sqltrainapp:basicall' 6%}'>Matching against multiple possible values</a></span>
                </li>
                <li><span><a href='{% url 'sqltrainapp:basicall' 7%}'>Classify results into buckets</a></span>
                </li>
                <li><span><a href='{% url 'sqltrainapp:basicall' 8%}'>Working with dates</a></span></li>
                <li><span><a href='{% url 'sqltrainapp:basicall' 9%}'>Removing duplicates, and ordering results</a></span>
                </li>
                <li><span><a href='{% url 'sqltrainapp:basicall' 10%}'>Combining results from multiple queries</a></span>
                </li>
                <li><span><a href='{% url 'sqltrainapp:basicall' 11%}'>Simple aggregation</a></span></li>
                <li><span><a href='{% url 'sqltrainapp:basicall' 12%}'>More aggregation</a></span></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>