<!DOCTYPE html>
<html lang="en">
<head>
    <title>basic</title>
    {% include '../include_CSS_JS.html' %}
</head>
<body>
{% include '../include_head.html' %}
<div class="container">
    <div class="page-header"><h1> Working with Timestamps <a href="timestamp.html" class="btn btn-primary btn-large"
                                                             style="margin-left: 50px;">Begin!</a></h1></div>
    <div class="row" style="margin-bottom:30px">
        <div class="panel-body col-md-8"><p>
            <p>Dates/Times in SQL are a complex topic, deserving of a category of their own. They're also fantastically
                powerful, making it easier to work with variable-length concepts like 'months' than many programming
                languages.</p>
            <p>Before getting started on this category, it's probably worth taking a look over the PostgreSQL <a
                    href="http://www.postgresql.org/docs/current/static/functions-datetime.html">docs page</a> on
                date/time functions. You might also want to complete the aggregate functions category, since we'll use
                some of those capabilities in this section.</p> </p> </div>
    </div>
    <div class="row" style="margin-bottom:30px">
        <div class="col-md-8">
            <ul class="topiclisting">
                {% if datequestion %}
                    {% for x in datequestion %}
                        <li><span>
                            <a href='{% url 'sqltrainapp:basicall' x.ques_id %}'>{{ x.ques_title }}</a></span>
                        </li>
                    {% endfor %}
                {% else %}
                    <li><span><P>Couldn't find the question list</P></span>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
</body>
</html>