<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'sqltrainapp:index' %}">PostgreSQL Exercises</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="{% url 'sqltrainapp:index' %}">Home</a></li>
                <li><a href={% url 'sqltrainapp:Getting_Started' %}>Getting Started</a></li>

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Exercises<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                      <li><a href="{% url 'sqltrainapp:basic' %}">Basic</a></li>
                      <li><a href="{% url 'sqltrainapp:joins' %}">Joins and Subqueries</a></li>
                      <li><a href="{% url 'sqltrainapp:aggregates' %}">Aggregates</a></li>
                      <li><a href="{% url 'sqltrainapp:date' %}">Date</a></li>
                      <li><a href="{% url 'sqltrainapp:string' %}">String</a></li>
                      <li><a href="{% url 'sqltrainapp:recursive' %}">Recursive</a></li>
                  </ul>
                </li>
                  <li><a href="{% url 'sqltrainapp:about' %}">About</a></li>
                  <li><a href={% url 'sqltrainapp:options' %}>Options</a></li>
              </ul>
            {% if  request.session.user_name  %}
                    <div  class="navbar-right row" >
                        <label class="navbar-text" style="color: white">欢迎你，<a href="{% url 'sqltrainapp:personinfo' request.session.user_name %}">{{ request.session.user_name }}</a></label>
                        <form action="{% url 'sqltrainapp:logout' %}" class="navbar-form navbar-right" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success">注销</button>
                        </form>
                    </div>
            {% else %}
                <form action="{% url 'sqltrainapp:login_detail' %}" class="navbar-form navbar-right" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input name="user_name" type="text" id="user_name" class="form-control" placeholder="用户名" required autofocus>
                    </div>
                    <div class="form-group">
                        <input name="pwd" type="password" id="user_password" class="form-control" placeholder="密码" required>
                    </div>
                    <button type="submit" class="btn btn-success">登录</button>
                </form>
            {% endif %}
        </div>
       <!--/.navbar-collapse -->
    </div>
</nav>