<!DOCTYPE html>
<html lang="en">
<head>
    <title>首页</title>
    {% include '../sqltrainapp/include_CSS_JS.html' %}
</head>
<body>
{% include '../sqltrainapp/include_head.html' %}
<div class="container">
            <div class="page-header">
                <h1>PostgreSQL Exercises</h1>
            </div>
            <div class="row" style="margin-bottom:30px">
                <div class="panel-body col-md-8">
                    <p>Welcome to PostgreSQL Exercises! This site was born when I noticed that there's a load of
                        material out there to help people learn about SQL, but not a great deal to make it easy to
                        learn by doing. PGExercises provides a series of questions and explanations built on a single,
                        simple dataset. It's designed for use as a partner to a good book or Postgres' excellent
                        <a href="http://www.postgresql.org/docs/9.3/interactive/index.html">documentation</a>.
                    </p>
                    <p>The exercises on this site range from simple select and where clauses, through joins and case
                        statements, and on to aggregations, window functions, and recursive queries. Most people who
                        aren't already pros should find something to test themselves with.</p>
                    <p>For an introduction to the dataset, go to
                        <a href="gettingstarted.html">Getting Started</a>,
                        then select an exercise category from the menu and go!
                    </p>
                </div>
            </div>
            <div class="panel-body row col-md-6">
                <div class="well">
                    <p style="margin-bottom:0px;">Site content licensed under
                        <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>
                    </p>
                </div>
            </div>
</div>
</body>
</html>