<!DOCTYPE html>
<html lang="en">
<head>
    <title>首页</title>
    {% include '../training/include_CSS_JS.html' %}
</head>
<body>
{% include '../training/include_head.html' %}
<div class="container">
    <div class="page-header"><h1> Options </h1></div>
    <div class="row" style="margin-bottom:30px">
        <div class="panel-body col-md-8"><p> </b><a href="#" onclick="clearLocalStoredInfo()">Clear saved data</a></b>: clears all
            saved information on which questions you've passed, along with all saved queries. </p></div>
    </div>
</div>
</body>
</html>