<!DOCTYPE html>
<html lang="en">
<head>
    <title>admin</title>
    {% include './include_CSS_JS.html' %}
    <script>
    function validate(){
        var newtype = confirm("确定撤销权限？");
        if(newtype){
            return true;
        }
        else{
            return false;
        }
    }
    function validate_delete(){
        var newtype = confirm("确定删除？");
        if(newtype){
            return true;
        }
        else{
            return false;
        }
    }
    </script>
</head>

<body>
{% include '../include_head.html' %}

    <div class="container-fluid">
      <div class="row">
        {% include './include_sidebar.html' %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <div class="panel panel-primary col-sm-10">
            <div class="panel-heading">
              <h3 class="panel-title">教师管理</h3>
            </div>
            <div class="panel-body">
            <div class="panel-group">
                    <div class="row">
                        <div class="pull-left">
                        <form action="{% url 'sqltrainapp:A_select_T' %}" method="post" >
                            {% csrf_token %}
                            <select name="selection" class="form-text-control">
                                <option value="user_id" selected>ID</option>
                                <option value="user_name">教师名称</option>
                            </select>
                            <input class="form-text-control" name="key" type="text" placeholder="可查询ID或教师名称">
                            <input class="btn btn-primary" type="submit" value="查询">
                        </form>
                        </div>
                    </div>
                </div>
            {% if list %}
                <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                    <th>ID</th>
                    <th>教师名称</th>
                    <th>所在学校</th>
                    <th>所在院系</th>
                    <th>所在班级</th>
                    <th>撤销权限</th>
                    <th>删除</th>
                </tr>
              </thead>
              <tbody>
                {% for t in list %}
                    <tr>
                        <td>{{ t.user_id }}</td>
                        <td><a href="{% url 'sqltrainapp:personinfo' t.user_name %}">{{ t.user_name }}</a></td>
                        <td>{{ t.school }}</td>
                        <td>{{ t.faculties }}</td>
                        <td>{{ t.cls }}</td>
                        <td><a href="{% url 'sqltrainapp:revoke_T' t.user_id %}" onClick="return validate()">撤销权限</a> </td>
                        <td><a href="{% url 'sqltrainapp:delete' t.user_id %}" onClick="return validate_delete()">删除</a> </td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
            {% else %}
                没有教师。<br>
                你可以提升在<a href="{% url 'sqltrainapp:A_manage_S' %}">学生管理</a>页面，提升学生权限，使其成为教师。
            {% endif %}

            </div>
          </div>


        </div>
      </div>
    </div>
  </body>
</html>
