<!DOCTYPE html>
<html lang="en">
<head>
    <title>admin</title>
    {% include './include_CSS_JS.html' %}
    <script>
    function validate(){
        var newtype = confirm("确定提升权限？");
        if(newtype){
            return true;
        }
        else{
            return false;
        }
    }
    function validate_delete(){
        var newtype = confirm("确定删除？");
        if(newtype){
            return true;
        }
        else{
            return false;
        }
    }
    </script>
</head>

<body>
{% include '../include_head.html' %}

    <div class="container-fluid">
      <div class="row">
        {% include './include_sidebar.html' %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <div class="panel panel-primary col-sm-10">
            <div class="panel-heading">
              <h3 class="panel-title">通过题目</h3>
            </div>
            <div class="panel-body">
                <div class="panel-group">
                    <div class="row">
                        <div class="pull-left">
                        <form action="{% url 'sqltrainapp:S_pass_Q' %}" method="post" >
                            {% csrf_token %}
                            {% include './include_Select_Q.html' %}
                        </form>
                        </div>
                    </div>
                </div>
            {% if list %}
                <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                    <th>ID</th>
                    <th>题目</th>
                    <th>类型</th>
                    <th>描述</th>
                    <th>答案</th>
                    <th>难度</th>
                    <th>通过数</th>
                    <th>提交数</th>
                    <th>通过率</th>
                </tr>
              </thead>
              <tbody>
                {% for q in list %}
                    <tr>
                        <td>{{ q.ques_id }}</td>
                        <td>{{ q.ques_title }}</td>
                        <td>{{ q.ques_type }}</td>
                        <td>{{ q.ques_content }}</td>
                        <td>{{ q.answer }}</td>
                        <td>{{ q.level }}</td>
                        <td>{{ q.passnum }}</td>
                        <td>{{ q.totalnum }}</td>
                        <td>{% widthratio q.passnum q.totalnum 100 %}%</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
            {% else %}
                没有题目。
            {% endif %}
            <span style="color: green">{{ msg }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
